* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.75em;
}

h2 {
    text-align: center;
    font-size: 1.25em;
    float: right;
    border: 1px solid black;
    width: 140px;
    padding: 5px; 
    margin-top: 0px;
    position: relative;
    top: -1px;
    right: -1px;
}

.container {
    width: 100%;
}

.element {
    background-color: rgb(163, 163, 163);
    float: left;
    border: 1px solid black;
}

#Chicken {
    background-color: rgb(252, 157, 173);
}

#Beef {
    background-color: #cc0000;
    color: white;
}

#Sushi {
    background-color: #f8e591;
}

p {
    margin: 20px;
    margin-top: 50px;
}

@media (min-width: 992px) {
    .element {
        width: 30%;
        height: 300px;
        margin: 1.5%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .chick-md {
        width: 45%;
        margin-left: 2.5%;
        margin-right: 1.25%;
        height: 240px;
    }
    .beef-md {
        width: 45%;
        margin-left: 1.25%;
        margin-right: 2.5%;
        height: 240px;

    }
    .sushi-md {
        width: 92.5%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        height: 150px;
        margin-top: 20px;
    } 
}

@media (max-width: 767px) {
    .element {
        margin: 2.5%;
        width: 95%;
        margin-top: 10px;
        height: 190px;
    }
}

